.paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: $separacion;

    button {
        background-color: $azul;
        padding: 1rem 1rem;
        text-align: center;
        color: $blanco;
        border: none;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 2rem;
        display: block;

        @include tablet {
            padding: 1rem 3rem;
        }
        &.ocultar {
            visibility: hidden;
        }

        &:hover {
            cursor: pointer;
        }
    }
}